@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');
body{
    margin:0;
    padding: 0;
    background: #fefffe;
}

h1{
    display: flex;
    padding: top 40;
    justify-content: center;
}

h2,h3,h4{
    display: flex;
    margin-left: 10px;
}

.center-IMG{
    display: block;
}
#menu li, #menu, #bord ,#proch{

    margin: 0;               
    padding: 0;

}
#menu , #proch{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
}
#menu li{
    display: inline-block;
    text-align: center;
    width: 170px;
    height: 60px;

}
#menu a,#proch a{
    display: block;
    padding:  20px;
        color: rgb(7, 7, 14);
        font-size:100%;
        text-decoration: none;
       background: #fefffe;
       margin-right: 30px;
       border-radius: 4px;
}
#menu a:hover{
    background: #c21523;
    color: white;
    border-radius: 10px; 
    font-weight: 600;}

#proch a:hover{
    background: #c21523;
    color: white;
    border-radius: 4px; 
    width: 50px;
    font-weight: 700; 
}    

#left_stolb {
    display:inline-table;
    background: #ffffff;
    width: 450px;
    height: 300px;
    float: left;
    margin: 20px 30px 20px 150px;
    

}
#right_stolb{
  /*  display:inline-table;  */
    background: #ffffff;
    width: 800px;
    float: left;
    margin: 20px 30px;

}
p {
    font-family: sans-serif;
}
#bord{
    
    background: #574f4f;
    height:10% ;
    width: 40%;
    border-radius:4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
#bord p{
    text-align: center;
}
#line{
    border-left: 1px solid #d8c1c1;
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px;
    color: wheat;
}
