@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');
body{
    margin:0px;
    background: #fefffe;
}

h1{
    display: flex;
    padding: top 40;
    justify-content: center;
}

h2,h3,h4{
    display: flex;
    margin-left: 10px;
}

.center-IMG{
    display: block;
}
#menu li, #menu{

    margin: 0;               
    padding: 0;

}
#menu{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
}
#menu li{
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 60px;

}
#menu a{
    display: block;
    padding:  20px;
        color: rgb(7, 7, 14);
        font-size:100%;
        text-decoration: none;
       background: #fefffe;
       margin-right: 30px;
       border-radius: 10px;
}
#menu a:hover{
    background: #c21523;
    color: white;
    border-radius: 10px; 
    font-weight: 600;
}
#left_stolb {
    display:inline-table;
    background: #ffffff;
    width: 450px;
    height: 300px;
    float: left;
    margin: 20px 30px 20px 150px;
    

}
#right_stolb{
  /*  display:inline-table;  */
    background: #ffffff;
    width: 800px;
    float: left;
    margin: 20px 30px;

}
p {
    font-family: sans-serif;
}